<!DOCTYPE html>
<html ng-app='hamsterworld'>
  <head>
    <title>Stewart's Dilapitated Hamster World!</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/colorpicker.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="/lib/ui-bootstrap-tpls-1.2.4.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap-colorpicker-module.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/controllers/MainController.js"></script>
    <script type="text/javascript" src="/services/MainService.js"></script>
    <base href="/" />
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>
